@page "/"
@using IntegrationTest
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@foreach (var element in Enumerable.Range(0, 1))
{
    <Component3 Parameter1="new object()" foo="bar" />
    <Component1 P1="new object()" />
    <Component2 foo="bar" />
}