<div class="my-component">
    This Blazor component is defined in the <strong>IntegrationTest</strong> package.
</div>
@code { 
    [Parameter] public object P1 { get; set; }
    [Parameter] public object P2 { get; set; }
    public object P3 { get; }
    private void Foo()
    {
        BetterBlazorImplementation__WriteSingleParameter("foo", new object());
    }
}