<div class="my-component">
    This Blazor component is defined in the <strong>IntegrationTest</strong> package.
</div>
@code { 
    private void Foo()
    {
        BetterBlazorImplementation__WriteSingleParameter("foo", new object());
    }
}