<div class="my-component"
@oncut:preventDefault
@oncopy:preventDefault
@onpaste:preventDefault
@onbeforecut:preventDefault
@onbeforecopy:preventDefault
@onbeforepaste:preventDefault
@ondrag:preventDefault
@ondragstart:preventDefault
@ondragenter:preventDefault
@ondragleave:preventDefault
@ondragover:preventDefault
@ondrop:preventDefault
@ondragend:preventDefault
@onerror:preventDefault
@onactivate:preventDefault
@onbeforeactivate:preventDefault
@onbeforedeactivate:preventDefault
@ondeactivate:preventDefault
@onfullscreenchange:preventDefault
@onfullscreenerror:preventDefault
@onloadeddata:preventDefault
@onloadedmetadata:preventDefault
@onpointerlockchange:preventDefault
@onpointerlockerror:preventDefault
@onreadystatechange:preventDefault
@onscroll:preventDefault
@oninvalid:preventDefault
@onreset:preventDefault
@onselect:preventDefault
@onselectionchange:preventDefault
@onselectstart:preventDefault
@onsubmit:preventDefault
@onchange:preventDefault
@oninput:preventDefault
@oncanplay:preventDefault
@oncanplaythrough:preventDefault
@oncuechange:preventDefault
@ondurationchange:preventDefault
@onemptied:preventDefault
@onended:preventDefault
@onpause:preventDefault
@onplay:preventDefault
@onplaying:preventDefault
@onratechange:preventDefault
@onseeked:preventDefault
@onseeking:preventDefault
@onstalled:preventDefault
@onstop:preventDefault
@onsuspend:preventDefault
@ontimeupdate:preventDefault
@onvolumechange:preventDefault
@onwaiting:preventDefault
@onfocus:preventDefault
@onblur:preventDefault
@onfocusin:preventDefault
@onfocusout:preventDefault
@onkeydown:preventDefault
@onkeypress:preventDefault
@onkeyup:preventDefault
@onclick:preventDefault
@oncontextmenu:preventDefault
@ondblclick:preventDefault
@onmousedown:preventDefault
@onmouseup:preventDefault
@onmouseover:preventDefault
@onmousemove:preventDefault
@onmouseout:preventDefault
@onpointerdown:preventDefault
@onpointerup:preventDefault
@onpointercancel:preventDefault
@onpointermove:preventDefault
@onpointerover:preventDefault
@onpointerout:preventDefault
@onpointerenter:preventDefault
@onpointerleave:preventDefault
@ongotpointercapture:preventDefault
@onlostpointercapture:preventDefault
@onwheel:preventDefault
@onmousewheel:preventDefault
@onabort:preventDefault
@onload:preventDefault
@onloadend:preventDefault
@onloadstart:preventDefault
@onprogress:preventDefault
@ontimeout:preventDefault
@ontouchstart:preventDefault
@ontouchend:preventDefault
@ontouchmove:preventDefault
@ontouchenter:preventDefault
@ontouchleave:preventDefault
@ontouchcancel:preventDefault>
    This Blazor component is defined in the <strong>IntegrationTest</strong> package.
</div>
@code { 
    [Parameter] public object P1 { get; set; }
    [Parameter] public object P2 { get; set; }
    public object P3 { get; }
    private void Foo()
    {
        BlazorImplementation__WriteSingleParameter("foo", new object());
    }
}