@foreach (var element in Enumerable.Range(0, 1))
{
    <div class="my-component" @attributes="Additional" @onclick="(_) => { }">
        This second Blazor component is defined in the <strong>IntegrationTest</strong> package. @element
    </div>
}
@code {
    private void Callback(object value)
    {
    }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object> Additional { get; set; }
} 